  <div class="text-center align-center">
    <div class="our-jumbotron-hero jumbotron-fluid">
      <br><br><br><br><br><br><br><br>
      <h1>Voici l'équipe qui a oeuvré à réaliser cet Eventbrite "light" juste <strong>pour vous</strong></h1>
      <h4>Venez apprendre à réaliser votre site!</h4>
      <button class="btn btn-primary" role="button"><%= link_to "Je contacte l'équipe", static_contact_index_path, method: :get %></button>
      <button class="btn btn-primary" role="button" disabled><%= link_to "Je découvre leur kit UI", static_ui_kit_index_path, method: :get %></button>
    </div>
  </div>
  <br />
  <br />
