  <div class="text-center align-center">
    <div class="our-jumbotron-small-hero jumbotron-fluid">
      <br><br><br><br>
      <h4><%= content_for(:jumbotron_small_hero_title) %></h4>
    </div>
  </div>
